.h1{
    margin: 0 0 0 0px;
}
.header{

    background-color: beige;
    display: flex;

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: #0b0a0a;
    text-align: center;
}
.main_note{
    margin-left: 30%;
    padding: 30px 0 0 0px;
    width: 500px;
    height: 260px;
    padding: 50px;
    border: 1px solid #0b0a0a;
    margin-top: 2%;
}
.mainCard{

    display: inline-block;
    width: 12%;
    margin-left: 1%;
}
.buttonadd{
    border-radius: 40px;
}